@font-face {
    font-family: Gilroy-Semi;
    src: url("assets/fonts/Gilroy-SemiBold.f3ed44cd.ttf");
}
@font-face {
    font-family: Gilroy-Medium;
    src: url("assets/fonts/Gilroy-Medium.e7e7c091.ttf");
}
@font-face {
    font-family: Mazius;
    src: url("assets/fonts/Mazius-Extraitalic.121a71a7.otf");
}
* {
  margin: 0;
  padding: 0;
box-sizing: border-box;
}

 html,body {
  height: 100%;
  width: 100%;
}


#main{
    width: 100%;
    background-color:#dadada5f;
    overflow: hidden;
}

#navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 5vw;
    z-index: 1000;
}
#navbar a{
    text-decoration: none;
    font-family: Gilroy-Semi;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
}
#navbar .bline{
    display: inline-block;
    height: 1px;
    background-color: black;
}

.reveal{
    overflow: hidden;
}
#page1{
    min-height: 75vh;
    display: flex;
    align-items: flex-end;
}
#page1 .content{
    width: 100%;
    padding: 0 5vw;
    line-height:0.9;
    
}

.content #upper,.content #lower{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content #lower h1{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.content #lower #visual{
    font-size: 9vw;
    font-family: Mazius;
    font-weight: 100;
    color: #14cf93;
    display: inline-block;

}
.content #upper #uleft{
    display: flex;
    gap: 5vw;
    font-family: Gilroy-Semi;
    height: fit-content;
    color: #11111150;
    line-height: 1;
}
.content h1{
   width: fit-content;
   font-weight: 100;
   font-size: 11.8vw;
   font-family: Gilroy-Medium;
}

#page2{
    min-height:125vh;
    width: 100%;
    display: flex;
    align-items: center;
    perspective: 1000px;
}


#page2 #about-section{
    width: 40%;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 5vw;
    justify-content: center;
    
    /* transform: rotateY(80deg); */
    
}
#page2 #cards-section{
    min-height: 100vh;
    width: 60%;
}
#page2 #cards-section img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    filter: grayscale();
    transition: filter ease 1s;
}
#page2 #cards-section img:hover{
    filter: grayscale(0);
    cursor: pointer;
}
#page2 #about-section #about-text{
    font-size: 2.5vw;
    font-family: Gilroy-Medium;
    text-transform: capitalize;
}
#about-text #ats{
    color: #14cf93;
    font-family: Mazius;
}
#cards-container{
    min-height: 100vh;
    position: relative;
}
#cards-container .cards{
    height: 40vw;
    width: 45%;
    position: absolute;
    border-radius: 20px;
}
#cards-container .card1{
    background-color: red;
    z-index: 1;
    left: 10%;
    top:5%;
    transform:rotate(-20deg);

}
#cards-container .card2{
    background-color: rgb(38, 0, 255);
    z-index: 2;
    left: 20%;
    top: 15%;
    transform:rotate(-15deg);
}
#cards-container .card3{
    background-color: rgb(0, 255, 38);
    z-index: 2;
    left: 30%;
    top: 20%;
    transform:rotate(-10deg);
}

#page3{
    min-height: 100vh;
    padding: 0 5vw;
    position: relative;

}
#page3 #data-container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    
}
#data-container #dupper{
    flex-basis: 50%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
    overflow: hidden;
}
#data-container #dlower{
    flex-basis: 50%;
    display: flex;
    gap: 1vw;
    align-items: flex-end;
    justify-content: space-between;
    overflow: hidden;
}
#dupper #dup1{
    font-family: Gilroy-Semi;
}
#dupper #dup2{
    font-size: 2vw;
    font-family: Gilroy-Semi;
}

#dlower h1{
    font-family: Gilroy-Medium;
    font-size: 8vw;
    font-weight: 500;
}
#dlower h1 #dh1s{
    font-size: large;
}
#dlower h1 #dh1R{
    font-family: Mazius;
    color:#14cf93;
}
#page3 #uarrow{
    height: 40px;
    width: 40px;

}
#page3 #uarrow .o-ui-arrow{
    position: absolute;
    color: black;
    font-size: 20px;
    background-color: black;
}
#page3 #darrow .o-ui-arrow{
    color: black;
    font-size: 20px;
    background-color: black;
}

#page4{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 5vw 0;
}

#page4 #p4right,#page4 #p4left{
    position: relative;
}
#page4 #p4left #img-container-left{
    height: 50vw;
    width: 50vw;
    border-radius: 15px;
    margin-left: 5vw;
    position: relative;
    overflow: hidden;
}

#img-container-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

#page4 #p4right #img-container-right{
    height: 30vw;
    width: 30vw;
    border-radius: 15px;
    margin-left: 7vw;
    position: relative;
    overflow: hidden;
}

#page4 #p4right #img-container-right, #p4left #img-container-left:hover{
    cursor: pointer;
}
#img-container-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.dmove img{
    transition: filter ease 1s;
}
.dmove img:hover{
    filter: grayscale(1);
    cursor: pointer;
}
.commonpart{
    padding-left: 2vw;
    position: absolute;
    bottom: 0;
    width: 60%;
}
.commonpart2{
    width: 100%;
}
#page4 span{
    font-family: Mazius;
}
.commonpart .upper #up1 ,.commonpart .upper #up2{
    font-size: small;
    font-family: Gilroy-Semi;
    background-color: bisque;
    border-radius: 20px;
    width: fit-content;
    padding: 1vw 3vw;
    margin: 1vw 0;
    text-align: center;
    text-transform:uppercase;
    opacity: 0;
}

.commonpart .upper{
    overflow: hidden;
}
.commonpart .lower{
    display: flex;
    gap: 1vw;
    align-items: center;
}
.commonpart .lower h2{
    border-radius: 40px;
    width: fit-content;
    padding: 1vw 5vw;
    margin: 1vw 0;
    text-align: center;
    background-color: bisque;
    font-size: 2vw;
    font-family: Gilroy-Semi;
}
.commonpart #arrow-container{
    background-color: bisque;
    height: fit-content;
    width: fit-content;
    padding: 1.5vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.commonpart #arrow-container #arrow{
    height:1.5vw;
    width:1.5vw;
}
#dynamic-crsr{
    position: fixed;
    height: 20vw;
    width: 20vw;
    left: -20px;
    top:-20px;
    background-color: #14cf949c;
    z-index: 10;
    pointer-events: none;
    display: none;
}
#dynamic-crsr .dcupper{
    height: 20%;
    display: flex;
    align-items: center;
    gap: 1vw;
   
}
#dynamic-crsr .dcupper .circle{
    background-color: rgba(222, 184, 135, 0.784);
    border: 2px solid white;
    border-radius: 45%;
    height: 3.5vw;
    width: 3.5vw;
}
#dynamic-crsr .dcupper h3{
    background-color: antiquewhite;
    padding: 1vw 2vw;
    border-radius: 20px;
    font-family: Gilroy-Medium;
    font-weight: 100;
}
#dynamic-crsr .dclower{
    height: 80%;
    display: flex;
    padding: 1vw;
    background-color:rgba(255, 255, 255, 0.425);
}
#dynamic-crsr .dclower img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



#page5{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5vw;
    justify-content: center;
}

#page5 #p5-img-container{
    height: 43vw;
    width: 50%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
#page5 #p5-img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    
}

#page6{
    min-height: 100vh;
    width: 100%;
    padding: 5vw;
    display: flex;
    justify-content: space-between;

}
#page6 #p6-img-container-left{
    
    height: 30vw;
    width: 30vw;
    margin-top: 60vh;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
#page6 #p6-img-container-right{
  
    height: 40vw;
    width: 45vw;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
#page6 #p6-img-container-left img,#page6 #p6-img-container-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#page7{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2vw 5vw;
    gap: 15vw;

}

#page7 ol{
    list-style:none;
    width: fit-content;
    transform: translate(100%,30%);
}
#page7 ol li{
    width: fit-content;
    line-height: 0.9;
    overflow: hidden;
}
#page7 ol .l0{
   opacity: 0;
}
#page7 ol li h3{
    font-size: x-large;
    font-family: Gilroy-Medium;
    text-transform: uppercase;
    margin: 7px;
    font-weight:50;
}
#page7 ol li h3 span{
    color: #14cf93;
    opacity: 0;
}
#page7 ol li p{
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: Gilroy-Semi;
    color: #11111150;
    margin: 7px;
}
#page7 ol li .bottom-line{
    height: 2px;
    background-color: #11111150;
    margin: 7px;
}

#page7 button{
    width: 100%;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: large;
    background-color: transparent;
    border: 1px solid #11111150;
    position: relative;
    z-index: 1;
    font-family: Gilroy-Medium;
}
#page7 button span{
    position: absolute;
    display: block;
    background-color:white;
    height: 100%;
    /* width: 100%; */
    border-radius: 50px;
    z-index: -1;
    
}

#page7 button:hover{
    cursor: pointer;
    font-weight: 700;
}


#page8{
    min-height: 60vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}  
#page8 #top{
    flex-basis: 20vh;
    width: 100%;
    /* background-color: #14cf93; */
    background-image: url("https://abhishekjha.me/rip.f6d7c4dd.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
}
#page8 #top #blend{
    height: 50%;
    background-color: #f2f2f2;
   
}
#page8 #middle{
    flex-basis: 30vh;
    width: 100%;
    padding: 0 5vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
#page8 #middle h1{
    font-family: Gilroy-Medium;
    font-size: 10vw;
    font-weight: 300;
}
#page8 #middle h1 span{
    font-family: Mazius;
    color: #14cf93;
}
#page8 #middle p{
    font-family: Gilroy-Semi;
    font-size: medium;
    margin-right: 30%;
    color: #11111150;
}
#page8 #bottom{
    flex-basis: 10vh;
    width: 100%;
    padding: 1vw 5vw;
    
}
#page8 #bottom #arrow{
    font-size: 8vw;
    width: fit-content;
    height: fit-content;
    font-family: Gilroy-Medium;
    font-weight: 10;
    color: #11111150;
    transform: rotate(90deg);
  
}

#page9{
    min-height: 70vh;
    width: 100%;
    padding: 5vw;
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#page9 #p9left{
    width: 40%;
    height: 35vw;

}
#page9 #p9right{
    width: 60%;
    height: 35vw;
}
#page9 #p9right ol{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1vw;
}

#page9 #p9right ol li{
    flex-basis: 25%;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 1vw;
}
#page9 #p9right ol li p{
    font-family: Gilroy-Semi;
    font-size: small;
    color: #11111150;
}
#page9 #p9right ol li h2{
    font-family: Gilroy-Medium;
    font-size: 2vw;
    font-weight: 600;

}
#page9 #p9right ol li #p9arrow-box{
    background-color: gray;
    padding: 1.25vw;
    border-radius: 100%;
    color: white;
    transition: transform ease 0.2s;
}
#page9 #p9right ol li #p9arrow-box:hover{
    transform: rotate(-25deg);
}
#page9 #p9right ol li #p9arrow{
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
  
}
#page9 #p9left p{
    font-family: Gilroy-Semi;
    font-size: medium;
    color: #11111150;
}
#page9 #p9left h3{
    font-family: Gilroy-Medium;
    color: #11111150;
    font-weight: 300;
}
#page9 #p9left img{
    height: 25vw;
    width: 25vw;
    border-radius: 20px;
    margin: 1.5vw 0;
}

footer{
    min-height: 120vh;
    width: 100%;
    background-color: #253b39;
    position: relative;
    padding: 5vw;
    overflow: hidden;
}
footer #fbackground{
    position: absolute;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    top: 40%;
    z-index: -1;
   

}
footer #fbackground svg{
    /* height: 60vh; */
     /* width: 70%; */
     margin-right: 10%;
    /* background-color: #14cf93; */
    /* background-color: red; */
    /* transform: translateY(30%); */

}
footer .fheader h1{
    font-family: Gilroy-Medium;
    text-align: center;
    color: white;
    font-size: 6vw;
    font-weight: 300;
    line-height: 1;
  
}

footer .fbuttons{
    display: flex;
    gap: 2vw;
    padding: 8vw 0;
    align-items: center;
    justify-content: center;
 
   
}
footer button{
    width: 40%;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: large;
    background-color: transparent;
    border: 1px solid white;
    position: relative;
    z-index: 1;
    font-family: Gilroy-Medium;
    color: white;
}
footer button span{
    position: absolute;
    display: block;
    background-color:white;
    height: 100%;
    /* width: 100%; */
    border-radius: 50px;
    z-index: -1;
    
}

footer button:hover{
    cursor: pointer;
    font-weight: 700;
    color: black;
}

footer .fsocials{
    display: flex;
    align-items: center;
    height: 15vw;
    gap: 2vw;
}
footer .fsocials .contact{
    flex-basis: 25%;
    border-top: 2px solid white;
    z-index: 10;
    transition: all ease 0.25s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .fsocials .contact i{
    font-size: xx-large;
    background-color: white;
    border-radius: 100%;
    padding: 0.35vw;
    font-weight: 100;
}
footer .fsocials .contact h2{
    font-family: Gilroy-Medium;
    color: white;
    font-weight: 500;
    margin: 1vw 0;
}
footer .fsocials .contact #gfright svg{
    background-color: white;
    border-radius: 100%;
    padding: 0.5vw;
    color: black;
}
footer .fsocials .contact p{
    /* font-family: Gilroy-Semi; */
    color: white;
 
}

footer .fsocials .contact:hover{
    background-color: #14cf9479;
    padding: 1vw;
    cursor: pointer;
    border-radius: 20px;
   
}

footer .fbottom{
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
footer .fbottom p{
    font-family: Gilroy-Semi;
    color:#dadada;
}
/* //////////////////////////////////////////////////////////////// for mobile //////////////////////////////////////////////////////////// */

@media (max-width: 700px){
    #page1{
        
        align-items: center;
        background-color: #dadada5f;
    }
    #page1 .content{
        width: 100%;
        padding: 0 5vw;
        line-height:1;
        position: relative;
    }

    .content #upper,.content #lower{
        display: flex;
        align-items: center;

    }
    
    .content #lower h1{
        align-items: flex-end;
        flex-direction: column;
    
    }
    .content #lower #visual{
        font-size: 18vw;
        
    }
    .content #lower #visual::before{
        content: "---";
    }
    .content #upper #uleft{
        justify-content: space-between;
        position: absolute;
        bottom: -70%;
        width: 90%;
    }

    .content #upper #uleft p{
        font-size: 13px;
    }
    .content h1{
       font-size: 19vw;
    }
    .content #lower #arrow{
        display: none;
    }



    #page2{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    
    #page2 #about-section{
        
        width: 100%;
        background-color: transparent;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 10vw 5vw;
        justify-content: center;
    }

    #page2 #about-section #about-text{
        font-size: 7.5vw;
        font-family: Gilroy-Medium;
        text-transform: capitalize;
        
    }
    #page2 #cards-section{
         width: 100%;
         overflow: hidden;
    }
    #page2 #cards-section img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        filter: grayscale();
        transition: filter ease 1s;
    }
    
   
    #cards-container{
        position: relative;
        transform: translateY(15%);
    }
    #cards-container .cards{
        height: 90vw;
        width: 65%;
    }
    


    #page3{
        min-height: 100vh;
        padding: 0 5vw;
        position: relative;
        background-color: #dadada5f;
    }
    #page3 #data-container{
        height: 90vh;
        display: flex;
        flex-direction: column;
        padding-left: 10vw;
        
    }
    #data-container #dupper{
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0;
        margin-top: 30%;
    }
    #data-container #dlower{
        flex-basis: 50%;
        display: flex;
        gap:0;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
    }
    #dupper #dup2{
        font-size: 8vw;
        margin-top: 5%;

    }
    
    #dlower h1{
        font-size: 20vw;

    }



    #page4{
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    #page4 #p4right, #page4 #p4left{
        width: 100%;
        height:55vh;
        padding: 5vw;
        display: flex;
        align-items: end;
        justify-content: center;
    }

    #page4 #p4left #img-container-left, #page4 #p4right #img-container-right{
        height: 100%;
        width: 100%;
        border-radius: 15px;
        margin-left: 0;
        position: relative;
       
    }
    
    .commonpart{
        padding-left: 2vw;
        position: absolute;
        bottom: 0;
        width: fit-content;
    }
    .commonpart .upper #up1 ,.commonpart .upper #up2{

        padding: 3vw 5vw;
        margin: 1.5vw 0;
    }
    .commonpart .lower{
        display: flex;
        gap: 1.5vw;
        align-items: center;
    }
    .commonpart .lower h2{
        width: fit-content;
        padding: 4vw 8vw;
        margin: 1vw 0;
        font-size: 7vw;
        font-weight: 200;
    }
    .commonpart #arrow-container{
       
        height: fit-content;
        width: fit-content;
        padding: 5vw;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .commonpart #arrow-container #arrow{
        height:5vw;
        width:5vw;

   }
    #dynamic-crsr{
        height: 45vw;
        width: 45vw;
    }
    #dynamic-crsr .dcupper{
        gap: 2vw;
    }
    #dynamic-crsr .dcupper .circle{
        height:100%;
        width: 20%;
    }
    #dynamic-crsr .dcupper h3{

        padding: 2vw 3vw;
        border-radius: 20px;
        font-family: Gilroy-Medium;
        font-weight: 100;
        font-size: medium;
    }
    

    #page5{
        min-height:70vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5% 5vw;
    }
    
    #page5 #p5-img-container{
        height: 55vh;
        width: 100%;
        position: relative;
    }
    #page5 #p5-img-container img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
        
    }


    #page6{
        min-height: 100vh;
        width: 100%;
        padding: 5vw;
        display: flex;
        flex-direction: column-reverse;
    
    }
    #page6 #p6-img-container-left{
        
        height: 60vh;
        width: 100%;
        margin-top: 10vh;
        border-radius: 20px;
        position: relative;
    }
    #page6 #p6-img-container-right{
      
        height: 60vh;
        width: 100%;
        border-radius: 20px;
        position: relative;
    }
    #page6 #p6-img-container-left img,#page6 #p6-img-container-right img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    


    #page7{
        min-height: 70vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 2vw 5vw;
    }
    
    #page7 ol{
        transform: none;
    }
    
    
    #page7 button{
        width: 100%;
        height: 15vw;
    }  

    #page8 #middle{
        flex-basis: 30vh;
        width: 100%;
        padding: 0 5vw;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        gap: 2vw;
    }
    #page8 #middle h1{
        font-family: Gilroy-Medium;
        font-size: 18vw;
        font-weight: 300;
    }

    #page8 #middle p{
        font-family: Gilroy-Semi;
        font-size: medium;
        margin-left: 20%;
        margin-right: 0;
        color: #11111150;
    

    }
    #page8 #bottom #arrow{
        font-size: 15vw;
      
    }

    #page9{
        min-height: 70vh;
        width: 100%;
        padding: 5vw;
        display: flex;
        gap: 1vw;
        align-items: center;
        justify-content: center;
        background-color: white;
        flex-direction: column-reverse;
    }
    
    #page9 #p9left{
        width: 100%;
        height: 50vh;
    
    }
    #page9 #p9right{
        width: 100%;
        height: 50vh;
    }
    #page9 #p9right ol{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 1vw;
    }
    
    #page9 #p9right ol li{
        flex-basis: 25%;
        border-bottom: 2px solid black;
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding: 0 1vw;
    }
    #page9 #p9right ol li p{
        font-family: Gilroy-Semi;
        font-size: x-small;
        color: #11111150;
    }
    #page9 #p9right ol li h2{
        font-family: Gilroy-Medium;
        font-size: small;
        font-weight: 600;
    
    }
    #page9 #p9right ol li #p9arrow-box{
        background-color: gray;
        padding:3vw;
        border-radius: 100%;
        color: white;
    }
    #page9 #p9right ol li #p9arrow{
        height: 15px;
        width: 18px;
        transform: rotate(45deg);
      
    }
    #page9 #p9left p{
        font-family: Gilroy-Semi;
        font-size: medium;
        color: #11111150;
    }
    #page9 #p9left h3{
        font-family: Gilroy-Medium;
        color: #11111150;
        font-weight: 300;
    }
    #page9 #p9left img{
        height: 60%;
        width: 70%;
        border-radius: 20px;
        margin: 1.5vw 0;
    }
    footer{
        min-height: 100vh;
        width: 100%;
        background-color: #253b39;
        position: relative;
        padding: 5vw;
        overflow: hidden;
    }
   

    footer .fheader h1{
        font-size: 8vw;
        font-weight: 300;
        line-height: 1.2;
      
    }
    
    footer .fbuttons{
        display: flex;
        gap: 5vw;
        padding: 10vw 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* background-color: #14cf93; */
     
    }
    footer button{
        width: 100%;
        height: 15vw;
    }
   
    footer .fsocials{
        display: flex;
        align-items: center;
        height: 40vh;
        gap: 2vw;
        flex-direction: column;
    }
    footer .fsocials .contact{
        width: 100%;
    }
    footer .fsocials .contact h2{
        font-size: 5vw;
    }
    footer .fsocials .contact p{
        font-size: small;
    }
    
    
    footer .fbottom{
        flex-direction: column-reverse; 
        gap: 2vw;
        padding: 7vw 0;
    }
    footer .fbottom p{
        font-size: small;
    }
 
    footer .fsocials .contact i{
        font-size: x-large;
        background-color: white;
        border-radius: 100%;
        padding: 2vw;
        font-weight: 100;
    }
   
    footer .fsocials .contact #gfright svg{
        background-color: white;
        border-radius: 100%;
        padding: 2vw;
        color: black;
    }

    
}