@font-face {
    font-family: Gilroy-Semi;
    src: url("assets/fonts/Gilroy-SemiBold.f3ed44cd.ttf");
}
@font-face {
    font-family: Gilroy-Medium;
    src: url("assets/fonts/Gilroy-Medium.e7e7c091.ttf");
}
@font-face {
    font-family: Mazius;
    src: url("assets/fonts/Mazius-Extraitalic.121a71a7.otf");
}
* {
  margin: 0;
  padding: 0;
box-sizing: border-box;
}

 html,body {
  height: 100%;
  width: 100%;
}


#main{
    width: 100%;
  
}

#navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 5vw;
    z-index: 1000;
}
#navbar a{
    text-decoration: none;
    font-family: Gilroy-Semi;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
}
#navbar .bline{
    display: inline-block;
    height: 1px;
    background-color: black;
}
#page1{
    min-height: 75vh;
    display: flex;
    align-items: flex-end;
    background-color: #dadada5f;
}
#page1 .content{
    width: 100%;
    padding: 0 5vw;
    line-height:0.9;
    
}

.content #upper,.content #lower{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content #lower h1{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.content #lower #visual{
    font-size: 9vw;
    font-family: Mazius;
    font-weight: 100;
    color: #14cf93;
    display: inline-block;

}
.content #upper #uleft{
    display: flex;
    gap: 5vw;
    font-family: Gilroy-Semi;
    height: fit-content;
    color: #11111150;
    line-height: 1;
}
.content h1{
   width: fit-content;
   font-weight: 100;
   font-size: 11.8vw;
   font-family: Gilroy-Medium;
}

#page2{
    min-height:125vh;
    width: 100%;
    background-color: #14cf93;
    display: flex;
    align-items: center;
    background-color: #dadada5f;
}


#page2 #about-section{
    width: 40%;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 5vw;
    justify-content: center;
}
#page2 #cards-section{
    min-height: 100vh;
    width: 60%;
}
#page2 #cards-section img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    filter: grayscale();
    transition: filter ease 1s;
}
#page2 #cards-section img:hover{
    filter: grayscale(0);
    cursor: pointer;
}
#page2 #about-section #about-text{
    font-size: 2.5vw;
    font-family: Gilroy-Medium;
    text-transform: capitalize;
}
#about-text #ats{
    color: #14cf93;
    font-family: Mazius;
}
#cards-container{
    min-height: 100vh;
    position: relative;
}
#cards-container .cards{
    height: 40vw;
    width: 45%;
    position: absolute;
    border-radius: 20px;
}
#cards-container .card1{
    background-color: red;
    z-index: 1;
    left: 10%;
    top:5%;
    transform:rotate(-20deg);

}
#cards-container .card2{
    background-color: rgb(38, 0, 255);
    z-index: 2;
    left: 20%;
    top: 15%;
    transform:rotate(-15deg);
}
#cards-container .card3{
    background-color: rgb(0, 255, 38);
    z-index: 2;
    left: 30%;
    top: 20%;
    transform:rotate(-10deg);
}

#page3{
    min-height: 100vh;
    padding: 0 5vw;
    position: relative;
    background-color: #dadada5f;
}
#page3 #data-container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    
}
#data-container #dupper{
    flex-basis: 50%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
}
#data-container #dlower{
    flex-basis: 50%;
    display: flex;
    gap: 1vw;
    align-items: flex-end;
    justify-content: space-between;
}
#dupper #dup1{
    font-family: Gilroy-Semi;
}
#dupper #dup2{
    font-size: 2vw;
    font-family: Gilroy-Semi;
}

#dlower h1{
    font-family: Gilroy-Medium;
    font-size: 8vw;
    font-weight: 500;
}
#dlower h1 #dh1s{
    font-size: large;
}
#dlower h1 #dh1R{
    font-family: Mazius;
    color:#14cf93;
}
#page3 #uarrow{
    position: absolute;
    color: black;
    background-color: gray;
}
#page3 #darrow{
    color: black;
    background-color: gray;
}



/* //////////////////////////////////////////////////////////////// for mobile //////////////////////////////////////////////////////////// */

@media (max-width: 700px){
    #page1{
        
        align-items: center;
        background-color: #dadada5f;
    }
    #page1 .content{
        width: 100%;
        padding: 0 5vw;
        line-height:1;
        position: relative;
    }

    .content #upper,.content #lower{
        display: flex;
        align-items: center;

    }
    
    .content #lower h1{
        align-items: flex-end;
        flex-direction: column;
    
    }
    .content #lower #visual{
        font-size: 18vw;
        
    }
    .content #lower #visual::before{
        content: "---";
    }
    .content #upper #uleft{
        justify-content: space-between;
        position: absolute;
        bottom: -70%;
        width: 90%;
    }

    .content #upper #uleft p{
        font-size: 13px;
    }
    .content h1{
       font-size: 19vw;
    }
    .content #lower #arrow{
        display: none;
    }



    #page2{

        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    
    #page2 #about-section{
        
        width: 100%;
        background-color: transparent;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 10vw 5vw;
        justify-content: center;
    }

    #page2 #about-section #about-text{
        font-size: 7.5vw;
        font-family: Gilroy-Medium;
        text-transform: capitalize;
        
    }
    #page2 #cards-section{
         width: 100%;
         overflow: hidden;
    }
    #page2 #cards-section img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        filter: grayscale();
        transition: filter ease 1s;
    }
    
   
    #cards-container{
        position: relative;
        transform: translateY(15%);
    }
    #cards-container .cards{
        height: 90vw;
        width: 65%;
    }
    


    #page3{
        min-height: 100vh;
        padding: 0 5vw;
        position: relative;
        background-color: #dadada5f;
    }
    #page3 #data-container{
        height: 90vh;
        display: flex;
        flex-direction: column;
        padding-left: 10vw;
        
    }
    #data-container #dupper{
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0;
        margin-top: 30%;
    }
    #data-container #dlower{
        flex-basis: 50%;
        display: flex;
        gap:0;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
    }
    #dupper #dup2{
        font-size: 8vw;
        margin-top: 5%;

    }
    
    #dlower h1{
        font-size: 20vw;

    }

    
}