@font-face {
    font-family: Gilroy-Semi;
    src: url("assets/fonts/Gilroy-SemiBold.f3ed44cd.ttf");
}
@font-face {
    font-family: Gilroy-Medium;
    src: url("assets/fonts/Gilroy-Medium.e7e7c091.ttf");
}
@font-face {
    font-family: Mazius;
    src: url("assets/fonts/Mazius-Extraitalic.121a71a7.otf");
}
* {
  margin: 0;
  padding: 0;
box-sizing: border-box;
}

 html,body {
  height: 100%;
  width: 100%;
}


#main{
    width: 100%;
  
}

#navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 5vw;
    z-index: 1000;
}
#navbar a{
    text-decoration: none;
    font-family: Gilroy-Semi;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
}
#navbar .bline{
    display: inline-block;
    height: 1px;
    background-color: black;
}
#page1{
    min-height: 75vh;
    display: flex;
    align-items: flex-end;
    background-color: #dadada5f;
}
#page1 .content{
    width: 100%;
    padding: 0 5vw;
    line-height:0.9;
  
}

.content #upper,.content #lower{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content #lower h1{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.content #lower #visual{
    font-size: 9vw;
    font-family: Mazius;
    font-weight: 100;
    color: #14cf93;
    display: inline-block;

}
.content #upper #uleft{
    display: flex;
    gap: 5vw;
    font-family: Gilroy-Semi;
    height: fit-content;
    color: #11111150;
    line-height: 1;
}
.content h1{
   width: fit-content;
   font-weight: 100;
   font-size: 11.8vw;
   font-family: Gilroy-Medium;
}

#page2{
    min-height:125vh;
    width: 100%;
    background-color: #14cf93;
    display: flex;
    align-items: center;
    background-color: #dadada5f;
}


#page2 #about-section{
    width: 40%;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 5vw;
    justify-content: center;
}
#page2 #cards-section{
    height: 110vh;
    width: 60%;
}
#page2 #cards-section img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    filter: grayscale();
    transition: filter ease 1s;
}
#page2 #cards-section img:hover{
    filter: grayscale(0);
    cursor: pointer;
}
#page2 #about-section #about-text{
    font-size: 2.5vw;
    font-family: Gilroy-Medium;
    text-transform: capitalize;
}
#about-text #ats{
    color: #14cf93;
    font-family: Mazius;
}
#cards-container{
    height: 100%;
    display: flex;
    position: relative;
}
#cards-container .cards{
    height: 40vw;
    width: 45%;
    position: absolute;
    border-radius: 20px;
}
#cards-container .card1{
    background-color: red;
    z-index: 1;
    left: 10%;
    top:5%;
    transform:rotate(-20deg);

}
#cards-container .card2{
    background-color: rgb(38, 0, 255);
    z-index: 2;
    left: 20%;
    top: 15%;
    transform:rotate(-15deg);
}
#cards-container .card3{
    background-color: rgb(0, 255, 38);
    z-index: 2;
    left: 30%;
    top: 20%;
    transform:rotate(-10deg);
}